@page
@model SampleWebApp.Pages.People.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Address.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
